<h1>Hola {{ hola | upper }}</h1>
<h3> Hay {{ personas | length }} personas</h3>
{# Esto es un comentario en twig #}
{% for persona in personas %}
        <a href="{{ path('saluda', {nombre:persona.nombre} )}}">{{persona.nombre}}</a>
{% endfor %}

<form action="{{ path('app_logout') }}" method="post">

        <button type="submit">logout</button>

</form>